@import '../variables.scss';

.navbar {
	.MuiToolbar-root {
	}

	.MuiTypography-h6 {
		font-family: 'Volkhov';
		flex-grow: 1;
	}

	.MuiButtonBase-root {
		font-family: 'Volkhov';
		text-transform: none;
	}
}
